.fish{
    z-index: 3;
}
#fishes{
     position: absolute;
}
#bg { 
    margin-top: -9px;
    margin-left: -7.8px;
}
#coral{
    z-index: 2;
    position: relative;
}
#bgg{
    position: absolute;
}
#fish1Id{
    position:relative;
}
#fish2Id{
    position: relative;
}

