.fish{
    z-index: 3;

}
#fishes{
    width: 100%;
    height: 100%;
     position: absolute;
}
#bg { 
    margin-top: -9px;
    margin-left: -7.8px;
}

#coral{
    z-index: 3;
    position: absolute;
}

#bgg{
    position: absolute;

}

#fish1Id{
position: relative;
}
#fish2Id{
    position: relative;
}

